<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="row">
      <div class="col-8" style="font-size: 20px;">TRUNG TÂM KHOA HỌC VÀ CÔNG NGHỆ<br>  
                        TỈNH BÌNH PHƯỚC<br>
                      <a>PHÒNG ĐO<u> LƯỜNG VÀ</u> THỬ NGHIỆM</a><br>
                      QL 14, P.Tân Bình,TP. Đồng Xoài,T.Bình Phước
      </div>
      <div class="col-4" style=" margin-top: 1.5%;text-align: center;font-weight: bold;font-size: 20px;">BIÊN BẢN KIỂM ĐỊNH<br>
                        CỘT ĐO XĂNG DẦU<br>
                        <a style="font-weight: normal;">Số: A60/2020 </a>
      </div>
    </div>
    <div class="table1">
    <div class="row">
      <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Ngày Thực Hiện</th>
          <th scope="col">Người Thực Hiện</th>
          <th scope="col">Người Soát lại</th>
        </tr>
      </thead>
      <tbody>
        <tr style="height: 100px;">
          
          <th scope="row"><input type="date" value="" style="width:99%;height: 99px;"></th>
          <td><input type="text" style="width:99%;height: 99px;"></td>
          <td><input type="text" style="width:99% ;height: 99px;"></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="tenpt">Tên Phương Tiện Đo: Cột đo xăng dầu</div>
      </div>
      <div class="col-6">
        <div class="tenpt"  >Cấp Chính Xác: 0.5</div>
      </div>
    </div>

    <div class="row">
      <div class="col-4">
        <div class="tenpt1">Nhãn hiệu CDXD:ACT 2002- T</div>
      </div>
      <div class="col-4">
        <div class="tenpt1">Số: 1296</div>
      </div>
      <div class="col-4">
        <div class="tenpt1">Năm sản xuất:2018</div>
      </div>
    </div>

    <div class="row">
      <div class="col-3">
        <div class="tenpt2">Kiểu:</div>
      </div>
      <div class="col-3">
        <div class="tenpt2">Điện Tử:
            <input type="checkbox" style="margin-left: 2%;">
        </div>
      </div>
      <div class="col-3">
        <div class="tenpt2">Cơ Khí:
          <input type="checkbox" style="margin-left: 2%;">
        </div>
      </div>
      <div class="col-3">
        <div class="tenpt2">Nơi sản xuất: Việt Nam</div>
      </div>
    </div>

    <div class="" style="margin-left: 4%;">Tem Kiểm định: 19A-000278</div>


<div class="table2">
    <div class="row">
      <div class="col-3">
        <div class="tenpt3">Đặc trưng kỹ thuật:</div>
      </div>

      <div class="col-9">
          <table class="table table-bordered" >
            <thead >
              <tr>
                <td scope="col">Lưu lượng lớn nhất: 50 L/min</td>
                <td scope="col">Lưu lượng nhỏ nhất: 5 L/min</td>
              
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="col">Lượng cấp phát tối thiểu: 2 L</td>
                <td scope="col">Chất lỏng kiểm định: XĂNG RON 95-III(2) FUEL</td>
              
              </tr>
            </tbody>

          </table>
      </div>
      

    </div>
  </div>

  <div class="" style="margin-left: 4%;">Cơ sở sử dụng: CHI NHÁNH 1,CÔNG TY TNHH KINH DOANH XĂNG DẦU NAM PHÁT </div>
  <div class="" style="margin-left: 4%;">Địa chỉ: Xã Đa Kia - H. Bù Gia Mập - T. Bình Phước</div>
  <div class="" style="margin-left: 4%;">Phương pháp thực hiện:<a style="font-weight: bold;"> CỘT ĐO XĂNG DẦU-QUY TRÌNH KIỂM ĐỊNH-ĐLVN:2017</a> </div>
  <div class="" style="margin-left: 4%;">Chuẩn, thiết bị chính sử dụng: Bình chuẩn kim loại 20 1, 5 1, 2 1; Ống đong chia độ; Đồng hồ bấm dây; Nhiệt kế</div>

  <div class="" style="font-weight: bold;text-align: center;">
    KẾT QUẢ KIỂM ĐỊNH
  </div>

  <div class="table3">
    <div class="" style="font-weight: bold;">1.Kết quả bên ngoài:</div>
 

  <table class="table table-bordered">
    <thead>
      <tr style="text-align: center;">
        
        <th scope="col">TT</th>
        <th scope="col">Tên Phép Kiểm Tra</th>
        <th scope="col">Kết quả quan sát:</th>
        <th scope="col">Ghi chú</th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row" style="text-align: center;">a</th>
        <td>Kiểm tra sự phù hợp với quyết định phê duyệt mẫu</td>
        <td> <input type="checkbox" style="margin-left: 50%;"> </td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">b</th>
        <td>Kiểm tra độ mới 100%</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">c</th>
        <td>Kiểm tra hiện trạng</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">d</th>
        <td>Kiểm tra cầu dao, thiết bị đóng ngắt nguồn điện</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">e</th>
        <td>Kiểm tra công tắc điều khiển</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">f</th>
        <td>Nhãn hiệu, ký hiệu</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">g</th>
        <td>Các bộ phận chính</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">h</th>
        <td>Kính bảo vệ, kính quan sát</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      <tr>
        <th scope="row"style="text-align: center;">i</th>
        <td>Ống cao su</td>
        <td><input type="checkbox" style="margin-left: 50%;"></td>
        <td><input type="text" style="width:99% ;"></td>
      </tr>
      
    </tbody>
  </table>
</div>

<div class="table3">
  <div class="" style="font-weight: bold;">2.Kết quả bên ngoài:</div>


<table class="table table-bordered">
  <thead>
    <tr style="text-align: center;">
      
      <th scope="col">TT</th>
      <th scope="col">Tên Phép Kiểm Tra</th>
      <th scope="col">Kết quả quan sát:</th>
      <th scope="col">Ghi chú</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" style="text-align: center;">a</th>
      <td>Kiểm tra sơ bộ</td>
      <td> <input type="checkbox" style="margin-left: 50%;"> </td>
      <td><input type="text" style="width:99% ;"></td>
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">b</th>
      <td>Kiểm tra độ kín</td>
      <td><input type="checkbox" style="margin-left: 50%;"></td>
      <td><input type="text" style="width:99% ;"></td>
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">c</th>
      <td>Kiểm tra hoạt động của cơ cấu xóa sổ</td>
      <td><input type="checkbox" style="margin-left: 50%;"></td>
      <td><input type="text" style="width:99% ;"></td>
    </tr>
    <tr>
      <th scope="row"style="text-align: center;">d</th>
      <td>Kiểm tra cơ cấu tự ngắt(nếu có)</td>
      <td><input type="checkbox" style="margin-left: 50%;"></td>
      <td><input type="text" style="width:99% ;"></td>
    </tr>
    
  </tbody>
</table>
</div>

<div class="table3">
  <div class="" style="font-weight: bold;">3.Kết quả kiểm tra đo lường:</div>
  <div class="row">
    <div class="col-4">
      <div class="" style="font-weight: normal;text-align: left;margin-top: 3%;" >3.1 Xác định lưu lượng lớn nhất đạt được :</div>
    </div>
    <div class="col-2">
      <div class="">t= 15s:</div>
    </div>
    <div class="col-2">
      <div class="">V=11L :</div>
    </div>
    <div class="col-2">
      <div class="">Q=44L/min:</div>
    </div>
  </div>

  <div>3.2 Kiểm tra sai số</div>
  <div class="" style="font-weight: normal;text-align: center;">
    
    <table class="table table-bordered">
      <thead>
        <tr>
          <td scope="col">Lưu Lượng</td>
          <td scope="col">V<sub>FD</sub>[L]</td>
          <td scope="col">V<sub>REF</sub>[L]</td>
          <td scope="col">E<sub>ED</sub>[%]</td>
          <td scope="col">ΔE<sub>ED[%]</sub></td>
          <td scope="col">Kết Luận</td>
        </tr>
      </thead>
      <tbody>
        <tr>  
          <td colspan="6" style="text-align: center;">Trước khi hiệu chỉnh</td>
        </tr>
        <tr>
          <td rowspan="2">Q<sub> max</sub></td>
          <td>20.03</td>
          <td>20.00</td>
          <td>0.15</td>
          <td rowspan="2">0.15</td>
          <td rowspan="2"> 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" >
              <label class="form-check-label" for="exampleRadios1">
                Đạt
              </label>
            </div>
          
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios1" value="option1" >
              <label class="form-check-label" for="exampleRadios1">
                Không
              </label>
            </div>

          </td>
         
        </tr>
        <tr>
          <td>20.03</td>
          <td>20.00 </td>
          <td>0.15</td>
        
         
        </tr>
        <tr>
          <td rowspan="2">Q<sub> min</sub></td>
          <td>5.00 </td>
          <td>5.00</td>
          <td>0.00</td>
          <td rowspan="2">0.00</td>
          <td rowspan="2">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios22" id="exampleRadios22" value="option32" >
              <label class="form-check-label" for="exampleRadios22">
                Đạt
              </label>
            </div>
          
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios22" id="exampleRadios22" value="option32" >
              <label class="form-check-label" for="exampleRadios22">
                Không
              </label>
            </div>
          </td>
        
        </tr>
        <tr>
          <td>5.00</td>
          <td>5.00</td>
          <td>0.00 </td>       
        </tr>
      </tbody>
    </table>
    <table class="table table-bordered">
      <thead>
        <tr>  
          <td colspan="6" style="text-align: center;">Sau khi hiệu chỉnh</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="2">Q<sub> max</sub></td>
          <td>20.03</td>
          <td>20.00</td>
          <td>0.15</td>
          <td rowspan="2">0.15</td>
          <td rowspan="2"> 
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="option1" >
              <label class="form-check-label" for="exampleRadios3">
                Đạt
              </label>
            </div>
          
            <div class="form-check">
              <input class="form-check-input" type="radio" name="exampleRadios3" id="exampleRadios3" value="option1" >
              <label class="form-check-label" for="exampleRadios3">
                Không
              </label>
            </div>

          </td>
         
        </tr>
        <tr>
          <td>20.03</td>
          <td>20.00 </td>
          <td>0.15</td>
        
         
        </tr>
        <tr>
          <td rowspan="2">Q<sub> min</sub></td>
          <td>5.00 </td>
          <td>5.00</td>
          <td>0.00</td>
          <td rowspan="2">0.00</td>
          <td rowspan="2">
            
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="option4" >
                <label class="form-check-label" for="exampleRadios4">
                  Đạt
                </label>
              </div>
            
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios4" id="exampleRadios4" value="option4" >
                <label class="form-check-label" for="exampleRadios4">
                  Không
                </label>
              </div>
            
          </td>
        
        </tr>
        <tr>
          <td>5.00</td>
          <td>5.00</td>
          <td>0.00 </td>       
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="table3">
  <div>3.3 Kiểm tra sai số tại lượng cấp phát tối thiểu</div>
  <table class="table table-bordered">
    <thead>
      <td scope="col">V<sub>FD</sub>[L]</td>
      <td scope="col">V<sub>REF</sub>[L]</td>
      <td scope="col">E=V<sub>FD</sub>-V<sub>REF</sub>[L]</td>
      <td>Kết Luận</td>
    </thead>
    <tbody>
      <td>2.00</td>
      <td>2.00</td>
      <td>0.00</td>
      <td>
        <div class="col-4" style="text-align: left;">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios5" value="option5" >
            <label class="form-check-label" for="exampleRadios5">
              Đạt
            </label>
          </div>
        </div>
        <div class="col-4" style="text-align: left;">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios5" id="exampleRadios5" value="option5" >
            <label class="form-check-label" for="exampleRadios5">
              Không
            </label>
          </div>
        </div>
      </td>
    </tbody>
  </table>


  <div> 3.4 Kiểm tra cơ cấu tách khí </div>
  <div class="row">
  
    <div class="col-4">a) Kiểm tra bằng mắt: </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="option6" >
        <label class="form-check-label" for="exampleRadios6">
          Đạt
        </label>
      </div>
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios6" id="exampleRadios6" value="option6" >
        <label class="form-check-label" for="exampleRadios6">
          Không
        </label>
      </div>
    </div>
  </div>
  <div>b) Kiểm tra bàng thiết bị kiểm tra tách khí</div>
  <div class="" style="font-weight: normal;text-align: center;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td scope="col">Q<sub>A</sub>[L/min]</td>
          <td scope="col">V<sub>FD</sub>[L]</td>
          <td scope="col">V<sub>REF</sub>[L]</td>
          <td scope="col">E<sub>ED</sub>[%]</td>
          <td scope="col">E<sub>D</sub>=E<sub>AV</sub>-E<sub>FD</sub>[%]</td>
          <td>Kết Luận</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
        </tr>
      </tbody>

    </table>
  </div>
  <div>3.5 Kiểm tra cơ cấu đặt trước</div>
  <div class="" style="font-weight: normal;text-align: center;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td></td>
          <td>V<sub>FD</sub>[L]</td>
          <td>V<sub>PR</sub>[L]</td>
          <td>V<sub>REF</sub>[L]</td>
          <td>E<sub>FD</sub>[%]</td>
          <td>P<sub>FD</sub>[đ]</td>
          <td>P<sub>PR</sub>[đ]</td>
          <td>Kết Luận</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Đặt thể tích</td>
          <td>20.00</td>
          <td>20.00</td>
          <td>20.00</td>
          <td>0.00</td>
          <td>/</td>
          <td>/</td>
          <td>
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="option7" >
                <label class="form-check-label" for="exampleRadios7">
                  Đạt
                </label>
              </div>
            </div>
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios7" id="exampleRadios7" value="option7" >
                <label class="form-check-label" for="exampleRadios7">
                  Không
                </label>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>Đặt giá tiền</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>/</td>
          <td>374400</td>
          <td>374400</td>
          <td>
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="option8" >
                <label class="form-check-label" for="exampleRadios8">
                  Đạt
                </label>
              </div>
            </div>
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios8" id="exampleRadios8" value="option8" >
                <label class="form-check-label" for="exampleRadios8">
                  Không
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>

    </table>
  </div>

<div>3.6 Kiểm tra cơ cấu tính tiền</div>
  <div class="" style="font-weight: normal;text-align: center;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <td scope="col">V<sub>FD</sub>[L]</td>
          <td scope="col">P<sub>U</sub>[đ]</td>
          <td scope="col">P<sub>C</sub>=V<sub>FD</sub> x P<sub>U</sub>[đ]</td>
          <td scope="col">P<sub>FD</sub>[đ]</td>
          <td scope="col">E<sub>P</sub>=P<sub>FD</sub>-P<sub>C</sub>[đ]</td>
          <td>Kết Luận</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>5</td>
          <td>18870</td>
          <td>94350</td>
          <td>94350</td>
          <td>0</td>
          <td style="text-align: left;">
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="option9" >
                <label class="form-check-label" for="exampleRadios9">
                  Đạt
                </label>
              </div>
            </div>
            <div class="col-4" style="text-align: left;">
              <div class="form-check">
                <input class="form-check-input" type="radio" name="exampleRadios9" id="exampleRadios9" value="option9" >
                <label class="form-check-label" for="exampleRadios9">
                  Không
                </label>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div>3.7 Kiểm tra độ giãn nở ống mềm</div>
  <div class="row">
    <div class="col-4" style="margin-top: 2%;">Số chỉ ống đong[mL]</div>
    <div class="col-2">8</div>
    <div class="col-2">Kết luận:</div>
    <div class="col-2" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="option10" >
        <label class="form-check-label" for="exampleRadios10">
          Đạt
        </label>
      </div>
    </div>
    <div class="col-2" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios10" id="exampleRadios10" value="option10" >
        <label class="form-check-label" for="exampleRadios10">
          Không
        </label>
      </div>
    </div>
  </div>
  <div>3.8 Kiểm tra cơ cấu in </div>
  <div>a) So sánh hiển thị trên CĐXD và bản in ra</div>
  <table class="table table-bordered" style="text-align: center;">
    <thead>
      <tr>
        <td rowspan="2">Lần cấp phát</td>
        <td colspan="2">Hiển thi trên CĐXD</td>
        <td colspan="2">Kết quả in</td>
        <td rowspan="2">Kết luận</td> 
      </tr>
      <tr>
        <td>V<sub>FD</sub><br>[L]</td>
        <td>P<sub>FD</sub><br>[đ]</td>
        <td>Lượng giao nhận[L]</td>
        <td>Tiền thanh toán</td>
      </tr>
    </thead>
    <tbody>    
      <tr>
        <td>1</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
      </tr>
      <tr>
        <td>2</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
        <td>/</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <div class="col-4">
      b) Kiểm tra chức năng in
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="option11" >
        <label class="form-check-label" for="exampleRadios11">
          Đạt
        </label>
      </div>
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios11" id="exampleRadios11" value="option11" >
        <label class="form-check-label" for="exampleRadios11">
          Không
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      c) Kiểm tra nội dung bản in
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios12" id="exampleRadios12" value="option12" >
        <label class="form-check-label" for="exampleRadios12">
          Đạt
        </label>
      </div>
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios13" id="exampleRadios12" value="option12" >
        <label class="form-check-label" for="exampleRadios13">
          Không
        </label>
      </div>
    </div>
  </div>
</div>

<div class="table3">
  <div class="" style="font-weight: bold;">4 Kết luận chung:</div>
  <div class="row">
    <div class="col-4" style="text-align: center;">-Cột đo xăng dầu</div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios13" value="option13" >
        <label class="form-check-label" for="exampleRadios1">
          Đạt
        </label>
      </div>
    </div>
    <div class="col-4" style="text-align: left;">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios13" value="option13" >
        <label class="form-check-label" for="exampleRadios1">
          Không
        </label>
      </div>
    </div>
  </div>
  <div class="" style="margin-left:11.5% ;">-Lý do: <input type="text" value="" style="width: 50%;">  </div>
 
</div>

<div class="table4">
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-outline-secondary">Preview</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-success">Save</button>
    </div>
    <div class="col-4">
      <button type="button" class="btn btn-outline-danger">Canecel</button>
    </div>
  </div>
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>